cache/cache
warmup/warmup
warmup/solution.txt
warmup/bin
warmup/obj

mpi/bin/**
mpi/obj/**
mpi/lib_finder.script
mpi/*.save
mpi/mpi.depend
mpi/mpi.layout

pthreads/bin/**
pthreads/obj/**
pthreads/lib_finder.script
pthreads/*.save
pthreads/mpi.depend
pthreads/mpi.layout

**/*.exe